<nav class="bg-dark flex justify-around py-3 items-center relative">
    <h1 class="text-yelloww mb-0">Food<span class="text-white">tuck</span></h1>
    <ul class="md:flex hidden text-white text-base justify-between space-x-5 items-center">
        <li routerLink="/" class="cursor-pointer"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Home</li>
        <li routerLink="menu" class="cursor-pointer" routerLinkActive="active" >Menu</li>
        <li routerLink="blog" class="cursor-pointer" routerLinkActive="active">Blog</li>
        <li routerLink="page" class="cursor-pointer" routerLinkActive="active">Pages</li>
        <li routerLink="about" class="cursor-pointer" routerLinkActive="active">About</li>
        <li routerLink="shop" class="cursor-pointer" routerLinkActive="active">Shop</li>
        <li routerLink="contact" class="cursor-pointer" routerLinkActive="active"><a >Contact</a></li>
    </ul>
    <div class="flex justify-around items-center space-x-3 text-white">
        <a href=""><i class="fa fa-search text-base"></i></a>
        <a routerLink="profile" ><i class="fa fa-user text-base"></i></a>
        <i class="fa-regular fa-heart text-base" matBadge="{{wishQuantity}}" matBadgeColor="primary" routerLink="/wish"></i>
        <a routerLink="cart" ><i class="fa-solid fa-cart-shopping text-base" matBadge="{{cartQuantity}}" matBadgeColor="primary"></i></a>

    </div>
    <button class="bg-yelloww px-3 md:hidden focus: py-1 relative"><i class="fa fa-bars text-lg text-white" (click)="openNav()" id="navBtn"></i></button>
    <div class="flex-col z-50 justify-center hidden w-screen animate-fadeInSlideRight top-0 duration-1000 h-screen fixed bg-dark" id="mobileNav" (click)="closeNav()">
        <button class="bg-yelloww px-3 md:hidden py-1 w-fit fixed top-3 left-3"><i class="fa fa-times text-lg text-white"></i></button>
        <ul class="flex flex-col space-y-5 justify-center items-center" id="ull">
            <li routerLink='/' class="text-white text-lg">Home</li>
            <li routerLink="menu" class="text-white text-lg" >Menu</li>
            <li routerLink="blog" class="text-white text-lg" >Blog</li>
            <li routerLink="page" class="text-white text-lg" >Chefs</li>
            <li routerLink="about" class="text-white text-lg" >About</li>
            <li routerLink="shop" class="text-white text-lg" >Shop</li>
            <li routerLink='contact' class="text-white text-lg">Contact</li>
        </ul>
    </div>

</nav>
