<section class="bg-banner bg-cover bg-bottom h-52 justify-center py-4 flex flex-col items-center">
    <p class="text-white text-5xl font-bold">Sign Up</p>
    <p class="text-white text-base"><a routerLink="/">Home</a> &#60; <span class="text-yelloww">Sign up</span></p>
</section>
<section class="h-screen bg-[#fffbf5] ">
    <div class="container mx-auto py-3">
      <div class="bg-white flex justify-center items-center flex-wrap  g-6 text-gray-800 pt-5 pb-5">
        <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
          <form novalidate (ngSubmit)="submit()" class="form-body mb-6 " [formGroup]="formData">
            <!-- Email input -->
            <div class="mb-6">
              <input
                type="text"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-yelloww focus:outline-none"
                placeholder="Name"
                formControlName="name"
              />
              <small class="text-red-700" *ngIf="name?.invalid && name?.touched">Please enter a valid Name without any special characters</small>
            </div>

            <div class="mb-6">
              <input
                type="text"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-yelloww focus:outline-none"
                placeholder="Email"
                formControlName="email"
              />
              <small class="text-red-700" *ngIf="email?.invalid && email?.touched">Please enter a valid Email </small>
            </div>
            <!-- username input -->
            <div class="mb-6">
              <input
                type="text"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-yelloww focus:outline-none"
                placeholder="username"
                formControlName="userName"
              />
              <small class="text-red-700" *ngIf="userName?.invalid && userName?.touched">username cannot be empty</small>
            </div>
            <!-- Password input -->
            <div class="mb-6 ">
              <div class="form-control flex w-full  py-1 border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-yelloww focus:outline-none">
              <i class="fa fa-eye mr-3  flex items-center p-3 py-2 " (click)="show()" ></i>

                <input
                [type]="showPassword"
                class=" text-xl font-normal w-96  text-gray-700 bg-white bg-clip-padding  py-2 focus:text-gray-700 focus:bg-white  focus:outline-none"
                placeholder="Password"
                formControlName="password"

              />
            </div>
              <small class="text-red-700" *ngIf="password?.invalid && password?.touched">Password should contain capital,small letters and Numbers and 8 characters minimum</small>
            </div>

            <div class="flex justify-between items-center mb-6">
              <div class="form-group form-check">
                <input
                  type="checkbox"
                  class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-yelloww checked:border-yellow-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                  id="Check3"
                  checked
                />
                <label class="form-check-label inline-block text-gray-800" for="Check3"
                  >Remember me</label
                >
              </div>
              <a
                href="#!"
                class="text-black focus:text-slate-800 active:text-yelloww duration-200 transition ease-in-out"
                >Forgot password?</a
              >
            </div>

            <!-- Submit button -->
            <button
              type="submit"
              class="inline-block px-7 py-3 bg-yelloww text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-yellow-600 hover:shadow-lg focus:bg-yelloww focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yelloww active:shadow-lg transition duration-150 ease-in-out w-full"
              [disabled]="formData.invalid || submitted"
            >
              Sign Up
            </button>

            <div
              class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
            >
              <p class="text-center font-semibold mx-4 mb-0">OR</p>
            </div>

            <a
              class="px-7 py-3 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full flex justify-center items-center mb-3"
              style="background-color: #3b5998"
              href="#!"
              role="button"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
            >
              <!-- Facebook -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
                class="w-3.5 h-3.5 mr-2"
              >
                <path
                  fill="currentColor"
                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                /></svg>Sign In with Google
            </a>
            <a
              class="px-7 py-3 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full flex justify-center items-center"
              style="background-color: #55acee"
              href="#!"
              role="button"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light"
            >
              <!-- Apple -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                class="w-3.5 h-3.5 mr-2"
              >
                <path
                  fill="currentColor"
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                /></svg>Sign In with Apple
            </a>
            <p class="text-xl mt-2">Have an account ? <a routerLink="/login" class="text-yelloww">Sign In</a></p>
          </form>
        </div>
      </div>
    </div>
    <div class="mt-10 space-x-5 hidden">
        <button (click)="showToast()" id="toastBtn" class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white">Show Toast</button>
    </div>
  </section>
<!-- Implement the toast -->
<div id="myToast" class="hidden fixed right-0 left-0 bottom-10 z-50 px-5 py-4 border-r-8 border-blue-500 bg-[#13945e] drop-shadow-lg">
    <p class="text-sm">
        <span class="mr-2 inline-block px-3 py-1 rounded-full bg-blue-500 text-white font-extrabold">i</span>
        {{toastText}}
    </p>
</div>
