<section
  class="bg-banner bg-cover bg-bottom h-52 justify-center py-4 flex flex-col items-center"
>
  <p class="text-white text-5xl font-bold">My Wishlist</p>
  <p class="text-white text-base">
    <a routerLink="/">Home</a> &#60; <span class="text-yelloww">Wishlist</span>
  </p>
</section>
<!-- <div class="h-full bg-gray-100 w-full">
  <div class="container py-12 m-auto text-5xl bg-white px-6">
    <div class="flex-col shadow-md my-10 sm:flex md:flex-row">
      <div class="md:w-3/4 bg-white px-10 py-10 w-full">
        <div class="flex justify-between border-b pb-8">
          <h1 class="font-semibold text-2xl">Shopping Cart</h1>
          <h2 class="font-semibold text-2xl">4 Items</h2>
          <h2 class="font-semibold text-2xl">{{PRODUCTS.length}} Items</h2>
        </div> -->
<!-- <div class="flex items-center justify-around w-full mt-10 mb-5">
          <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 ">Quantity</h3>
          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 ">Price</h3>
          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 ">Total</h3>
        </div> -->
<!-- <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5" >
          <div class="flex w-2/5">  product -->
<!-- <div class="w-20">
              <img class="h-24 rounded " src="" alt="">
            </div>
            <div class="flex flex-col justify-between ml-4 flex-grow"> -->
<!-- <span class="font-bold text-sm">{{item.name}}</span>
              <span class="text-red-500 text-xs">{{item.dsc}}</span> -->
<!-- <span class="text-red-500 text-xs">kjfdjkjhdshyjerhjdfhjdf</span>
              <span class="text-red-500 text-xs">wojkdjkds</span>
              <button href="#" class="font-semibold hover:text-red-500 text-gray-500 text-xs" >Remove</button>
            </div>
          </div>
          <div class="flex justify-center w-1/5" >
            <svg class="fill-current text-gray-600 w-3"  viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
            </svg>

            <input class="mx-2 border text-center w-8" type="text" >

            <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
              <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
            </svg>
          </div> -->
<!-- <span class="text-center w-1/5 font-semibold text-sm">{{item.price | currency}}</span>
          <span class="text-center w-1/5 font-semibold text-sm">{{item.total | currency}}</span> -->
<!-- <span class="text-center w-1/5 font-semibold text-sm">#900</span>
          <span class="text-center w-1/5 font-semibold text-sm">#900</span>
        </div>  -->

<!-- <a routerLink="/shop" class="flex font-semibold text-indigo-600 text-sm mt-10">

          <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
          Continue Shopping
        </a>
      </div>
  </div>
</div> -->
<div class="min-h-full bg-white w-full py-6">
  <div class="flex-wrap flex item-start sm:mx-10 justify-start">
    <div
      class="md:w-80 sm:w-72 w-80 h-72 sm:mx-8 mx-4 my-2 flex items-center justify-around"
      *ngFor="let item of PRODUCTS; let i = index"
    >
      <div class="img sm:w-44 h-44 w-32">
        <img src="{{ item.img }}" alt="" class="rounded" />
      </div>
      <div class="w-28">
        <p class="font-bold text-lg">{{ item.name }}</p>
        <p class="font-bold">{{ item.price | currency }}</p>
        <button
          class="btn btn-yelloww block shadow p-1 hover:text-white hover:bg-yellow-500 round rounded"
        >
          <i class="fa-solid fa-cart-shopping"></i> Move to Cart
        </button>
        <button
        (click)="remove(i)"
          class="btn btn-yelloww flex shadow mt-2 p-1 hover:text-white hover:bg-red-500 rounded"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.5 7.5A.5.5 0 018 8v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V8z"
            />
            <path
              fill-rule="evenodd"
              d="M16.5 5a1 1 0 01-1 1H15v9a2 2 0 01-2 2H7a2 2 0 01-2-2V6h-.5a1 1 0 01-1-1V4a1 1 0 011-1H8a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM6.118 6L6 6.059V15a1 1 0 001 1h6a1 1 0 001-1V6.059L13.882 6H6.118zM4.5 5V4h11v1h-11z"
              clip-rule="evenodd"
            />
          </svg>
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
