<section
  class="bg-banner bg-cover bg-bottom h-52 justify-center py-4 flex flex-col items-center"
>
  <p class="text-white text-5xl font-bold">My Wishlist</p>
  <p class="text-white text-base">
    <a routerLink="/">Home</a> &#60; <span class="text-yelloww">Wishlist</span>
  </p>
</section>
<div class="min-h-1/3 bg-white w-full py-6 shadow">
  <div class="bg-white px-10 py-10 w-full">
    <div class="flex justify-around border-b pb-8">
      <h1 class="font-semibold text-2xl">My Wishlist</h1>
      <h2 class="font-semibold text-2xl">{{ PRODUCTS.length }} Items</h2>
    </div>
  </div>
  <div class="flex-wrap flex item-start sm:mx-10 justify-start">
    <div
      class="md:w-80 sm:w-72 w-80 h-72 sm:mx-8 mx-4 my-2 flex items-center justify-around"
      *ngFor="let item of PRODUCTS; let i = index"
    >
      <div class="img sm:w-44 h-44 w-32">
        <img src="{{ item.img }}" alt="" class="rounded" />
      </div>
      <div class="w-28">
        <p class="font-bold text-lg">{{ item.name }}</p>
        <p class="font-bold">{{ item.price | currency }}</p>
        <button
          (click)="moveToCart(item.id, i)"
          class="btn btn-yelloww block shadow p-1 hover:text-white hover:bg-yellow-500 round rounded"
        >
          <i class="fa-solid fa-cart-shopping"></i> Move to Cart
        </button>
        <button
          (click)="remove(i)"
          class="btn btn-yelloww flex shadow mt-2 p-1 hover:text-white hover:bg-red-500 rounded"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.5 7.5A.5.5 0 018 8v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V8z"
            />
            <path
              fill-rule="evenodd"
              d="M16.5 5a1 1 0 01-1 1H15v9a2 2 0 01-2 2H7a2 2 0 01-2-2V6h-.5a1 1 0 01-1-1V4a1 1 0 011-1H8a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM6.118 6L6 6.059V15a1 1 0 001 1h6a1 1 0 001-1V6.059L13.882 6H6.118zM4.5 5V4h11v1h-11z"
              clip-rule="evenodd"
            />
          </svg>
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
<div
  id="myToast"
  class="hidden fixed right-0 left-0 top-0 z-50 px-5 py-4 border-r-8 border-blue-500 bg-green-500 drop-shadow-lg"
>
  <p class="text-base text-white font-bold">
    <span
      class="mr-2 inline-block px-3 py-1 rounded-full bg-blue-500 text-white font-extrabold"
      >i</span
    >
    {{ toastText }}
  </p>
</div>
