<section class="flex justify-around items-center flex-col w-11/12 md:flex-row py-16 md:w-11/12 lg:w-5/6 xl:w-4/5 mx-auto bg-dark overflow-x-hidden" (click)="isInViewPort()">
    <div class="flex flex-col w-full md:w-1/2 p-3">
        <p class="text-white text-3xl md:text-5xl font-bold leading-tight"><span class="text-yelloww">Th</span>e Art of speed food Quality</p>
        <p class="text-white text-xl leading-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo vero nulla officiis praesentium ad rem numquam, sapiente distinctio aperiam et illo esse totam id quisquam. Quae necessitatibus veritatis hic cumque.</p>
        <button class="bg-yelloww mx-auto sm:mx-0 w-fit shadow-md py-3 px-5 md:px-4 md:py-2 rounded-3xl text-lg text-white">See menu</button>
    </div>
    <img src="../../../assets/imgs/Image.png"  class="object-cover w-full md:w-1/2" alt="home-image">
</section>
<section class="flex justify-around items-center flex-col w-11/12 md:flex-row py-16 md:w-11/12 lg:w-5/6 xl:w-4/5 mx-auto bg-dark overflow-x-hidden">
    <div class="flex flex-col w-full md:w-1/2 p-3" data-aos="flip-left">
        <p class="text-white text-3xl md:text-5xl font-bold leading-tight"><span class="text-yelloww">We</span> Create the best food products</p>
        <p class="text-white text-xl leading-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo vero nulla officiis praesentium ad rem numquam, sapiente distinctio aperiam et illo esse totam id quisquam. Quae necessitatibus veritatis hic cumque.</p>
        <div>
            <p class="text-base text-white"><i class="fa fa-check text-yelloww"></i> Lacus nisi, et ac dapibus sit eu velit in consequat.</p>
            <p class="text-base text-white"><i class="fa fa-check text-yelloww"></i> Earum a sapiente, harum amet fuga mollitia dicta saepe.</p>
            <p class="text-base text-white"><i class="fa fa-check text-yelloww"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <button class="bg-yelloww w-fit mx-auto sm:mx-0 shadow-md py-3 px-5 md:px-4 md:py-2 rounded-3xl text-lg text-white">Read More</button>
    </div>
    <div class="flex flex-col space-y-4 w-full md:w-1/2 p-3" data-aos="fade-down-left">
        <img src="../../../assets/imgs/home.png" class="w-full rounded-lg object-cover" alt="home image">
        <div class="flex w-full space-x-3">
            <img src="../../../assets/imgs/home1.png" class="w-1/2 rounded-lg object-cover" alt="home1 image">
            <img src="../../../assets/imgs/home2.png" class=" w-1/2 rounded-lg object-cover" alt="home2 image">
        </div>
    </div>
</section>
<section class="flex flex-col items-center w-full  px-4 py-7 overflow-x-hidden">
    <p class="text-yelloww text-center">Food Cartegory</p>
    <h1 class="text-white text-xl text-center">Choose Food Item</h1>
    <div class="w-11/12 flex md:w-9/12  md:space-x-4 flex-wrap  space-y-2 md:space-y-0 md:flex-nowrap">
        <img src="../../../assets/imgs/cat.png" data-aos="fade-right" class="pr-1 md:pr-0 w-1/2 md:w-1/4 rounded-lg object-cover " alt="category">
        <img src="../../../assets/imgs/cat1.png" data-aos="fade-left" class="w-1/2 md:w-1/5  rounded-lg object-cover" alt="category2">
        <img src="../../../assets/imgs/cat2.png" data-aos="fade-up-right" class=" pr-1 md:pr-0 w-1/2 md:w-1/4 rounded-lg object-cover" alt="category3">
        <img src="../../../assets/imgs/cat4.png" data-aos="fade-up-left" class="w-1/2 md:w-1/4  rounded-lg object-cover" alt="category4">
    </div>
</section>
<app-count></app-count>