<section class="bg-banner bg-cover bg-bottom h-52 justify-center py-4 flex flex-col items-center">
    <p class="text-white text-5xl font-bold">Our Menu</p>
    <p class="text-white text-base"><a routerLink="/">Home</a> &#60; <span class="text-yelloww">Menu</span></p>
</section> 
<section class="flex flex-col py-10  bg-white">
    <div class="flex flex-col-reverse mx-auto w-11/12 xl:flex-row xl:w-full xl:justify-around pb-6 mb-4">
        <img src="../../../assets/imgs/starter.png" class="" alt="starter dish">
        <div class="flex flex-col items-start xl:w-3/5 w-full  mx-auto">
            <p class="text-4xl text-center xl:text-left font-bold">Starter Menu</p>
            <div class="flex shadow-lg w-full p-3 items-center justify-between">
                <div class="flex flex-col px-3 mb-2">
                    <p class="text-2xl font-bold hover:text-yelloww">Fig and lemon cake</p>
                    <p class="text-slate-800">Toasted French bread topped with romano, cheddar</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">32$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 items-center justify-between mb-2">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Berries and creme tart</p>
                    <p class="text-slate-800">Gorgonzola, ricotta, mozzarella, taleggio</p>
                    <span class="text-slate-800 mb-0">700  CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">43$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 mb-2 items-center justify-between">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Tormentoso Bush Pizza Pintoage</p>
                    <p class="text-slate-800">Ground cumin, avocados, peeled and cubed</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">14$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 mb-2 items-center justify-between">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Spicy Vegan Potato Curry</p>
                    <p class="text-slate-800">Spreadable cream cheese, crumbled blue cheese</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">32$</span>
            </div>
        </div>
    </div>
    <div class="flex xl:w-full justify-around flex-col-reverse xl:flex-row mx-auto w-11/12 py-6 mb-4">
        <img src="../../../assets/imgs/main.png" alt="starter dish">
        <div class="flex flex-col  items-start xl:w-3/5 w-full">
            <p class="text-4xl font-bold ">Main Course</p>
            <div class="flex shadow-lg w-full p-3 items-center justify-between">
                <div class="flex flex-col px-3 mb-2">
                    <p class="text-2xl font-bold hover:text-yelloww">Optic Big Breakfast Combo Menu</p>
                    <p class="text-slate-800">Toasted French bread topped with romano, cheddar</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">32$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 items-center justify-between mb-2">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Cashew Chicken With Stir-Fry</p>
                    <p class="text-slate-800">Gorgonzola, ricotta, mozzarella, taleggio</p>
                    <span class="text-slate-800 mb-0">700  CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">43$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 mb-2 items-center justify-between">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Vegetables & Green Salad</p>
                    <p class="text-slate-800">Ground cumin, avocados, peeled and cubed</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">14$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 mb-2 items-center justify-between">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Spicy Vegan Potato Curry</p>
                    <p class="text-slate-800">Spreadable cream cheese, crumbled blue cheese</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">32$</span>
            </div>
        </div>
    </div>
    <app-count></app-count>
    <div class="flex mx-auto xl:w-full flex-col-reverse xl:flex-row w-11/12 justify-around py-6">
        <img src="../../../assets/imgs/starter2.png" alt="starter dish">
        <div class="flex flex-col items-start xl:w-3/5 w-full">
            <p class="text-4xl font-bold ">Dessert</p>
            <div class="flex shadow-lg w-full p-3 items-center justify-between">
                <div class="flex flex-col px-3 mb-2">
                    <p class="text-2xl font-bold hover:text-yelloww">Fig and lemon cake</p>
                    <p class="text-slate-800">Toasted French bread topped with romano, cheddar</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">32$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 items-center justify-between mb-2">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Creamy mascarpone cake</p>
                    <p class="text-slate-800">Gorgonzola, ricotta, mozzarella, taleggio</p>
                    <span class="text-slate-800 mb-0">700  CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">43$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 mb-2 items-center justify-between">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Pastry, blueberries, lemon juice</p>
                    <p class="text-slate-800">Ground cumin, avocados, peeled and cubed</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">14$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 mb-2 items-center justify-between">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Pain au chocolat</p>
                    <p class="text-slate-800">Spreadable cream cheese, crumbled blue cheese</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">32$</span>
            </div>
        </div>
    </div>
    <div class="flex py-3 mx-auto xl:w-full flex-col-reverse xl:flex-row w-11/12 justify-around">
        <img src="../../../assets/imgs/main2.png" alt="starter dish">
        <div class="flex flex-col items-start xl:w-3/5 w-full">
            <p class="text-4xl font-bold ">Drinks</p>
            <div class="flex shadow-lg w-full p-3 items-center justify-between">
                <div class="flex flex-col px-3 mb-2">
                    <p class="text-2xl font-bold hover:text-yelloww">Caffè macchiato</p>
                    <p class="text-slate-800">Toasted French bread topped with romano, cheddar</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">32$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 items-center justify-between mb-2">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Aperol Spritz Capacianno</p>
                    <p class="text-slate-800">Gorgonzola, ricotta, mozzarella, taleggio</p>
                    <span class="text-slate-800 mb-0">700  CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">43$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 mb-2 items-center justify-between">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Caffe Latte Campuri</p>
                    <p class="text-slate-800">Ground cumin, avocados, peeled and cubed</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">14$</span>
            </div>
            <div class="flex shadow-lg w-full p-3 mb-2 items-center justify-between">
                <div class="flex flex-col px-3">
                    <p class="text-2xl font-bold hover:text-yelloww">Tormentoso BushTea Pintoage</p>
                    <p class="text-slate-800">Spreadable cream cheese, crumbled blue cheese</p>
                    <span class="text-slate-800 mb-0">560 CAL</span>
                </div>
                <span class="text-yelloww font-bold text-lg">32$</span>
            </div>
        </div>
    </div>
</section>